# Logs
logs
*.log
tmp
public/index.html
public/tags
public/images/full
public/images/thumbs
.DS_Store

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
# node_modules
